body {
		-webkit-print-color-adjust: exact;
 font-family:"times new roman", times, serif;
 font-size:100%;
 color:#000000;
 background-color:#FFFFFF;
}
textarea{
	font-family: "monospace";
	 font-size:90%;
}

#principal{

	background-color:#F7EF99;
	margin-left: auto;
	margin-right:auto;
	width:960px;
	padding:10px 10px;
	border-radius:10px;
}

#titrePrincipal{
	background-color:#F78E69;
	font-size:150%;
	border-radius:5px;
	padding:5px 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

#descriptionPrincipale{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: justify;
}

#principalScheme{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: justify;
}

#schemeTables{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color:#ABE188;
	padding:10px 10px;
	border-radius:5px;
}


.classSchemeTable {
	margin-left: 0px;
	margin-right: auto;
background-color:#ABE188;
font-size:110%;
margin-bottom: 0px;
padding:2px 2px;
border-radius:5px;
}

#reqSQL{
	min-height:1000px;
	padding:5px 5px;
	background-color:#F1BB87;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
#titreSQL{
font-size:105%;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
#titreMessage{
font-size:105%;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}
#errorSQL{
font-size:100%;
	color:#FF0000;
}
#titreSortie{
font-size:105%;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}
#inputSQL{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width:80%;
	text-align: left;
}

#boutonEvaluer{
	border:1px
	border-style:solid;
	border-color:#000000;
	font-family: "monospace";
	 font-size:110%;
	 padding:3px 6px;
	 border-radius:10px;
	 background-color:#DCDCDC;
	 
	 
}



#outputSQL table {
	 font-size:90%;
	margin-left: auto;
	margin-right: auto;
background-color:#ABE188;
margin-bottom: 5px;
padding:5px 5px;
border: 1px solid black;
}

#outputSQL table th {
	text-align: center;
}

#outputSQL table td {
	text-align: center;
}



#infos{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
 font-size:70%;
}


/*
#ABE188 vert
#F7EF99 jaune
#F1BB87 orange clair
#F78E69 orange foncé
#5D675B gris




*/
